appnope==0.1.3
asttokens==2.4.1
certifi==2023.11.17
comm==0.2.0
contourpy==1.2.0
cycler==0.12.1
debugpy==1.8.0
decorator==5.1.1
executing==2.0.1
flatdict==4.0.1
fonttools==4.47.0
frozendict==2.3.10
ipykernel==6.27.1
ipython==8.18.1
jedi==0.19.1
jupyter_client==8.6.0
jupyter_core==5.5.1
kiwisolver==1.4.5
matplotlib==3.8.2
matplotlib-inline==0.1.6
nest-asyncio==1.5.8
numpy==1.26.2
orjson==3.9.10
packaging==23.2
parso==0.8.3
pexpect==4.9.0
Pillow==10.1.0
platformdirs==4.1.0
prompt-toolkit==3.0.43
psutil==5.9.7
ptyprocess==0.7.0
pure-eval==0.2.2
pydash==7.0.6
Pygments==2.17.2
pyparsing==3.1.1
python-dateutil==2.8.2
pyzmq==25.1.2
scipy==1.11.4
-e git+https://github.com/sedaro/sedaro-python.git@2e9502c0486c9b3e309f7c5719dcaaa98cd1ad9b#egg=sedaro&subdirectory=sedaro # FIXME replace with python client of appropriate version
six==1.16.0
stack-data==0.6.3
tornado==6.4
traitlets==5.14.0
typing_extensions==4.3.0
urllib3==1.26.18
wcwidth==0.2.12
